@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* ---- general ---- */

body {
    text-align: center;
    background-color: var(--main-bg);
}

* {
    text-decoration: none;
    background: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 15px;
    font-family: "Roboto", Sans-serif;
    color: var(--second);
}

#body-container {
    padding: 80px;
    padding-top: 70px;
}

.widget-container {
    padding: 30px;
    overflow: auto;
}

.button {
    background-color: var(--main);
    border-radius: 3px;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 12px 24px;
}

.button:hover {
    background-color: var(--main-accent);
}

.button-text {
    color: white;
}

@keyframes borderForward {
    from {
        border-bottom-style: solid;
    }
    to {
        border-color: var(--main-accent);
    }
}

@keyframes borderBackward {
    from {
        border-color: var(--main-accent);
    }
    to {
        border-color: var(--second);
    }
}

.text-input {
    text-align: left;
    color: var(--second);
    border: none;
    border-bottom-style: solid;
    animation-name: borderBackward;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.text-input:focus {
    outline: none;
    animation-name: borderForward;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* ---- Header ---- */

#header {
    width: 80%;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    margin: auto;
}

#help-icon {
    float: right;
    margin-left: 15px;
}

#toggle-switch-ring {
    display: flex;
    float: right;
    flex-shrink: 0;
    height: 14px;
    width: 26px;
    border-radius: 44px;
    padding: 2px;
    margin-top: 3px;
    margin-left: 15px;
    box-sizing: content-box;
    background: var(--dark-bg);
    cursor: pointer;
}

#toggle-switch {
    width: 14px;
    height: 14px;
    border-radius: 44px;
    background: var(--main-accent);
}

#toggle-switch[selected="true"] {
    transition: transform 200ms ease-out 0s, background 200ms ease-out 0s;
    transform: translateX(12px) translateY(0px);
}

#toggle-switch[selected="false"] {
    transition: transform 200ms ease-out 0s, background 200ms ease-out 0s;
    transform: translateX(0px) translateY(0px);
}

/* ---- search bar ---- */

#searchform {
    font-size: 20px;
    width: 100%;
}

/* ---- menu items ---- */

.text {
    color: var(--second);
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
}

.right-align {
    text-align: right;
}

/* ---- search filter modal ---- */

#optional-search-filters-text {
    float: right;
    margin-top: 5px;
    transition: 0.25s ease-in-out;
}

#optional-search-filters-text:hover {
    color: var(--main-accent);
    cursor: pointer;
}

#search-modal-start-date-created {
    width: 20%;
}

#search-modal-end-date-created {
    width: 20%;
}

#search-modal-center {
    width: 41%;
}

#search-modal-keywords {
    width: 60%;
}

#search-modal-title, #modal-title {
    font-size: 35px;
    font-weight: 900;
    padding-bottom: 20px;
}

.search-text-input {
    margin-left: 5px;
    margin-right: 5px;
}

.search-filter-text {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px;
}

.search-description {
    font-size: 15px;
    font-weight: 100;
    padding-bottom: 20px;
}

.search-filter-text, .search-description {
    color: var(--second);
}

#favorites {
    clear: left;
    float: left;
    /* margin-top: 5px; */
}

.material-icons[selected="false"] {
    color: var(--second);
    transition: 0.25s ease-in-out;
}

.material-icons[selected="false"]:hover {
    color: var(--main-accent);
    cursor: pointer;
}

.material-icons[selected="true"] {
    color: var(--main-accent);
}

.material-icons[selected="true"]:hover {
    cursor: pointer;
}

#clear-button {
    opacity: 0;
    position: absolute;
    float: left;
    transition: 0.25s ease-in-out;
    display: inline-block;
    /*margin-left: 10px;*/
    margin-top: 5px;
    /*display: none;*/
}

#clear-button:hover {
    color: var(--main-accent);
    cursor: pointer;
}

/*clearfix */

.grid {
    column-count: 3;
    column-gap: 1em;
}

.grid:after {
    content: '';
    display: inline-block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    background-color: #000000;
    opacity: 1;
    width: auto;
    height: auto;
    margin: 0 0 1em;
    transition: 0.3s;
    /*float: left;*/
    display: inline-block;
    cursor: pointer;
    /*border: 2px solid #333;*/
    /*border-color: hsla(0, 0%, 0%, 0.5);*/
    border-radius: 5px;
}

.grid-item:hover {
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.07);
    cursor: pointer;
}

.grid-item img {
    display: block;
    /* width: 32.3%;
    height: 100%; */
    object-fit: scale-down;
    border-radius: 5px;
    transition: 0.3s ease;
}

.grid-item:hover img {
    opacity: 0.3;
}

.grid-item .overlayTitle {
    display: none;
    transition: 0.3s linear;
    text-align: left;
    user-select: none;
    pointer-events: none;
}

.grid-item:hover .overlayTitle {
    display: block;
}

/* ---- Next and Previous ---- */

#next-button {
    display: none;
    color: var(--second);
    float: right;
    font-size: 30px;
    transition: 0.25s ease-in-out;
}

#next-button:hover {
    color: var(--main-accent);
    cursor: pointer;
}

#prev-button {
    display: none;
    color: var(--second);
    float: left;
    font-size: 30px;
    transition: 0.25s ease-in-out;
}

#prev-button:hover {
    color: var(--main-accent);
    cursor: pointer;
}

/* ---- The Modal (background) ---- */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    justify-content: center;
}

.modal[visible="true"] {
    display: flex;
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal[visible="false"] {
    display: none;
}

/* Modal Content/Box */

.modal-content {
    display: inline-flex;
    background-color: var(--main-bg);
    /* max-width: 80%; */
    /* Could be more or less, depending on screen size */
    /* height: auto; */
    overflow: auto;
    max-height: 85%;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

/*Style for media inside modal content*/

.modal-media-container {
    display: inline-block;
    /* justify-content: center; */
    /* float: left; */
    max-height: 100%;
    max-width: 40%;
    margin: 0;
    margin-right: 20px;
    text-align: center;
    align-items: center;
    vertical-align: top;
}

.modal-media {
    display: none;
    object-fit: contain;
    width: 100%;
    /* max-height: 100%; */
    margin: auto;
}

.modal-text {
    display: inline-block;
    text-align: left;
    max-width: 400px;
    vertical-align: top;
}

#modal-buttons {
    height: 60px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: none;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.overlay {
    width: auto;
    height: auto;
    opacity: 1;
    color: #000;
}

.grid-item:hover .overlay {
    opacity: 0.75;
}

.overlayTitle {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    left: 10px;
}

#favorite-button-container {
    padding-top: 15px;
    height: 100%;
}

#favorite-button[selected="false"] {
    /*display: none;*/
    color: var(--second);
    transition: 0.25s ease-in-out;
    /*float: left;*/
}

#favorite-button[selected="false"]:hover {
    color: var(--main-accent);
    cursor: pointer;
}

#favorite-button[selected="true"] {
    /*display: none;*/
    color: var(--main-accent);
    /*float: left;*/
}

#favorite-button[selected="true"]:hover {
    cursor: pointer;
}

#favorite-grid {
    display: none;
}